@charset "utf-8";

#nav {
  padding: 65px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

#nav > ul {
  text-align: right;
  margin-top: 80px;
}

.nav-btn {
  display: block;
  width: 120px;
  height: 30px;
  background-color: #E4211E;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 10px;
}

.nav-btn:hover {
  background-color: #000000;
}

.nav-btnlink {
  font-size: 10px;
  color: #ffffff;
}

.nav-btnlogo {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  object-fit: contain;
  fill: #000000;
}

.nav-link {
  font-size: 10px;
  font-weight: bold;
}