@charset "utf-8";

#product {
  padding: 50px 264px 50px 216px;
}

.product-flex {
  display: flex;
  margin-bottom: 180px;
}

.product-img-parent {
  position: relative;
}

.product-pageimg {
  width: 700px;
  height: 500px;
}

.fullscreenImage {
  position: fixed;
  /* 固定位置に配置 */
  top: 0;
  /* 上部に配置 */
  left: 0;
  /* 左側に配置 */
  width: 100%;
  /* 幅を画面いっぱいに */
  height: 100%;
  /* 高さを画面いっぱいに */
  object-fit: contain;
  /* 画像が縦横比を維持しつつ全体を収める */
  display: none;
  /* 最初は非表示 */
  background-color: rgba(0, 0, 0, 0.8);
  /* 背景を暗くして画像を際立たせる */
  z-index: 9999;
  /* 最前面に表示 */
  cursor: pointer;
  /* クリック可能なカーソルに */
  transition: opacity 0.3s ease-in-out;
  /* フェードイン・フェードアウトの効果 */
}

.fullscreenImage.show {
  display: block;
  /* クラスが「show」の場合、表示 */
  opacity: 1;
  /* 完全に表示 */
}

.fullscreenImage.hide {
  opacity: 0;
  /* 画像を非表示 */
  pointer-events: none;
  /* 非表示の際にクリックを無効化 */
}

#fullscreenImage:active {
  cursor: pointer;
}

.product-frame-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  right: 0;
}

.red {
  background: #e42e1e;
}

.green {
  background: #00ab3a;
}

.blue {
  background: #007dd8;
}

.product-icon {
  width: 25px;
  height: 25px;
}

.product-flexitem-right {
  padding: 80px 0 0 50px;
  position: relative;
}

.product-section-nb {
  background-color: #e42e1e;
  color: #ffffff;
  border-radius: 4px;
}

.product-section-title {
  color: #e42e1e;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 25px;
}

.product-title {
  font-size: 27px;
  margin-bottom: 29px;
}

.product-explain {
  font-size: 14px;
  width: 436px;
  font-weight: bold;
  line-height: 28px;
}

.product-illust {
  width: 315px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#product-detail {
  text-align: center;
}

.product-detail-title {
  margin-bottom: 80px;
  color: #E42E1E;
  font-size: 32px;
  font-weight: 500;
  position: relative;
}

.product-detail-title::before {
  content: "・・・・";
  color: #E42E1E;
  font-size: 32px;
  font-weight: 500;
  position: absolute;
  top: -60%;
  left: 45.5%;
}

.product-detail-row {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.product-detail-illust {
  position: absolute;
  top: 200px;
  left: 120px;
}

.scroll-wrapper {
  display: flex;
  animation: scrollImages 15s linear infinite;
}

.product-detail-pageimg {
  width: 33.3%;
  margin-right: 10px;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0); /* 最初の位置 */
  }
  100% {
    transform: translateX(-100%); /* 画像をすべてスクロール */
  }
}

.product-purchase {
  height: 280px;
  background-color: #E42E1E;
  text-align: center;
  padding-top: 62px;
  margin-top: 160px;
}

.product-purchase-link {
  display: inline-block;
  color: #ffffff;
  width: 528px;
  height: 120px;
  border-radius: 8px;
  background-color: #000000;
  line-height: 120px;
}