@charset "utf-8";

#cover {
  margin-top: 150px;
  position: relative;
}

#cover::before {
  content: "";
  width: 100%;
  height: calc(100% - 48px);
  background: #e42e1e;
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 1;
}

.cover-flex {
  max-width: 1440px;
  padding: 0 12% 0 4%;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.cover-flex > img {
  height: auto;
  width: 25.3%;
  min-width: 150px;
  z-index: 2;
}

.cover-description {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  height: auto;
  max-width: 41.3%;
  min-width: 20.3%;
  z-index: 2;
}

.cover-description__title {
  font-size: 2vw;
}

.cover-description__subTitle {
  font-size: 0.9vw;
}

.cover-description__content {
  margin-top: 20px;
  font-size: 12px;
}

.cover-link {
  max-width: 46.3%;
  z-index: 2;
}

.cover-linkItem {
  align-items: center;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  height: 72px;
  justify-content: flex-endq;
  margin-bottom: 16px;
  text-align: center;
  width: 100%;
  font-weight: bold;
}

.cover-linkItem:hover {
  color: #e42e1e;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  #cover {
    background-color: #e42e1e;
    height: 100%;
    margin-top: 200px;
    padding: 0 32px;
  }

  .cover-flex {
    flex-direction: column;
    gap: 30px;
  }

  .cover-flex > img {
    height: auto;
    width: 75%;
    margin: -96px auto 40px;
  }

  .cover-description {
    min-width: 100%;
  }

  .cover-description__title {
    font-size: 30px;
    width: 100%;
  }

  .cover-description__subTitle {
    font-size: 15px;
    width: 100%;
  }

  .cover-link {
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .cover-linkItem {
    display: inline-block;
    width: 100%;
  }

  .cover-linkImg {
    transform: translateY(20%);
  }

}
