@charset "utf-8";

#book-cover {
  background-color: #e42e1e;
  height: 406px;
  margin-top: 200px;
}

.book-cover-flex {
  align-items: center;
  display: flex;
  gap: 65px;
  justify-content: center;
}

.book-cover-flexitem {
  color: #ffffff;
}

.book-cover-flex > img {
  height: 454px;
  width: 320px;
}

.book-cover-link {
  align-items: center;
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  height: 72px;
  justify-content: center;
  margin-bottom: 16px;
  text-align: center;
  width: 270px;
}

.book-cover-link:hover {
  color: #e42e1e;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.book-cover-linkicon {
  color: #ffffff;
  height: 10px;
  width: 50px;
}

@media screen and (max-width: 768px) {
  #book-cover {
    background-color: #e42e1e;
    height: 100%;
    margin-top: 200px;
    padding: 0 32px;
  }

  .book-cover-flex {
    flex-direction: column;
    gap: 30px;
  }

  .book-cover-flex > img {
    height: auto;
    width: 75%;
    margin: -96px auto 40px;
  }

  .book-cover-flexitem {
    margin-right: auto;
  }

  .book-cover-linkcontainer {
    width: 100%;
  }

  .book-cover-link {
    width: 100%;
  }
}
