@charset "utf-8";

#concept {
  max-width: 1440px;
  margin: 0 auto;
  padding: 160px 240px 0 120px;
}

.concept-flex {
  display: flex;
  justify-content: center;
}

.concept-flexitem {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.concept-title {
  color: #E42E1E;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}

.concept-img-title {
  margin-bottom: 50px;
  width: 80%;
  min-width: 300px;
}

.concept-link-flex {
  align-items: flex-end;
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.concept-img-tennis {
  width: calc(100% + 120px + 8px);
  margin-left: -100px;
}

.concept-flexitemright {
  padding-left: 90px;
  margin: 100px 0 0 0;
}

.concept-explain-title {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 40px;
}

.concept-explain {
  font-size: 14px;
  line-height: 35px;
  font-weight: 700;
}


@media screen and (max-width: 768px) {

  #concept {
    max-width: 767px;
    margin: 60px auto 0 auto;
    padding: 0 30px;
  }

  .concept-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .concept-flexitem {
    width: 100%;
    height: auto;
  }

  .concept-img-title {
    margin-bottom: 10px;
    width: 65%;
    margin-right: 100px;
    align-self: center;
  }

  .concept-flexitemright {
    padding-left: 0;
    margin: 50px 0 0 0;
    height: auto;
  }

  .concept-explain-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .concept-explain {
    height: auto;
    width: 100%;
    font-size: 12px;
    line-height: 24px;
  }

}