@charset "utf-8";

#footer {
  display: flex;
  padding: 100px 100px 0 200px;
}

#footer > img {
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-flex p {
  color: black;
}

@media screen and (max-width: 767px) {
  
}
