@charset "utf-8";

#footer {
  display: flex;
  padding: 100px 100px 0 200px;
}

#footer > img {
}

.footer-flex {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.footer-flex p {
  color: black;
}

@media screen and (max-width: 768px) {

  #footer {
    display: flex;
    padding: 48px 0;
    position: relative;
  }

  .footer-flex {
    padding: 0 32px;
    flex-direction: column;
    gap: 10px;
  }

  .footer-copyright {
    display: inline;
    vertical-align: top;
  }

  #footer > img {
    width: 88px;
    object-fit: contain;
    position: absolute;
    bottom: 0;
    right: 20px;
  }

}
