@charset "utf-8";

#footer {
  height: 250px;
  position: relative;
}

#footer > img {
  bottom: 0;
  position: absolute;
  right: 0;
}

.footer-flex {
  align-items: center;
  display: flex;
  gap: 255px;
  height: 100%;
  justify-content: center;
}

.footer-flex p {
  color: black;
}
