@charset "utf-8";

#product {
  padding: 200px 0 0 0;
  margin-bottom: 160px;
}

.product-flex {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 100px;
  padding: 0 240px 0 120px;
}

.product-img-parent {
  position: relative;
  width: calc(50% + 164px);
  margin-left: -120px;
  height: 75%;
}

.product-pageimg {
  width: 100%;
  object-fit: contain;
}

.product-frame-icon {
  bottom: 5px;
  height: 50px;
  position: absolute;
  right: 0;
  width: 50px;
}

.product-icon {
  height: 25px;
  width: 25px;
}

.product-flexitem-right {
  padding: 48px 0 0 80px;
  position: relative;
  width: 50%;
}

.product-title {
  font-size: 27px;
  margin-bottom: 29px;
  width: 28vw;
}

.product-explain {
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  width: 28vw;
  margin-bottom: 57px;
}

.product-illustcontainer {
  width: 100%;
  text-align: right;
}

.product-illust {
  height: 150px;
  width: 315px;
}


.product-purchase {
  background-color: #E42E1E;
  margin-top: 160px;
  padding: 80px 8% 80px 8%;
  display: flex;
  gap: 20px;
}

.product-purchase-link {
  background-color: #000000;
  border-radius: 8px;
  color: #ffffff;
  display: block;
  line-height: 120px;
  width: 60%;
  height: 120px;
  padding: 0 30px;
  min-width: 300px;
}

.product-purchase-link:hover {
  color: #e42e1e;
  background-color: #ffffff;
  transition: all 0.3s ease;
}

.product-section-nb {
  background-color: #e42e1e;
  border-radius: 4px;
  color: #ffffff;
}

.product-section-title {
  color: #e42e1e;
  display: inline-block;
  font-weight: bold;
  margin-bottom: 25px;
}


.scroll-wrapper {
  animation: scrollImages 15s linear infinite;
  display: flex;
}

@keyframes scrollImages {
  0% {
    transform: translateX(0);
    /* 最初の位置 */
  }

  100% {
    transform: translateX(-100%);
    /* 画像をすべてスクロール */
  }
}

#product-detail {
  text-align: center;
}

#fullscreenImage:active {
  cursor: pointer;
}

.blue {
  background: #007dd8;
}

.green {
  background: #00ab3a;
}

.red {
  background: #e42e1e;
}

.fullscreenImage {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: none;
  height: 100%;
  left: 0;
  object-fit: contain;
  opacity: 1;
  position: fixed;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
  z-index: 9999;
}

.fullscreenImage.hide {
  opacity: 0;
  pointer-events: none;
}

.fullscreenImage.show {
  display: block;
}

.product-detail-illust {
  left: 120px;
  position: absolute;
  bottom: 0px;
}

.product-detail-pageimg {
  margin-right: 10px;
  width: 33.3%;
}

.product-detail-row {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
}

.product-detail-title {
  color: #E42E1E;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 80px;
  position: relative;
}

.is-sp {
  display: none;
}

.product-detail-title::before {
  color: #E42E1E;
  content: "・・・・";
  font-size: 32px;
  font-weight: 500;
  left: 45.5%;
  position: absolute;
  top: -60%;
}

@media screen and (max-width: 768px) {
  #product {
    padding: 64px 0 0 0;
    margin-bottom: 0;
  }

  .product-flex {
    max-width: 767px;
    margin: 0 auto 50px auto;
    flex-direction: column;
    padding: 0 32px;
  }

  .product-img-parent {
    width: 100%;
    margin-left: 0;
    height: auto;
  }

  .product-illustcontainer {
    display: none;
  }

  .product-flexitem-right {
    padding: 32px 0 0 0;
    width: 100%;
  }

  .product-title {
    font-size: 20px;
    margin-bottom: 23px;
    width: 100%;
  }

  .product-explain {
    font-size: 12px;
    line-height: 24px;
    width: 100%;
    margin-bottom: 0;
  }

  .product-detail-title {
    color: #E42E1E;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 23px;
    position: relative;
  }

  .product-detail-title::before {
    content: "・・・・";
    font-size: 18px;
    font-weight: bold;
    left: 56%;
    top: -40%;
  }

  .is-sp {
    display: block;
  }

  .product-detail-illust {
    width: 35px;
    left: 32px;
    position: absolute;
    bottom: 0px;
  }

  .product-purchase {
    background-color: #E42E1E;
    height: auto;
    margin-top: 0;
    padding: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .product-purchase-link {
    background-color: #000000;
    border-radius: 8px;
    color: #ffffff;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    width: 100%;
  }

}