@charset "utf-8";

#profile {
  margin: 160px auto;
  border: 1px solid #DDD;
  width: 1100px;
  height: 356px;
  padding: 71px 63px 27px 55px;
  background-color: #ffffff;
}

.profile-title {
  display: inline-block;
  margin-bottom: 30px;
}

tr {
  display: inline-block;
  margin-bottom: 30px;
}

th {
  width: 290px;
  text-align: left;
  vertical-align: top;
}

td {
  width: 700px;
  vertical-align: top;
}

.profile-fontred {
  color: #e42e1e;
}