@charset "utf-8";

#profile {
  margin: 160px auto;
  border: 1px solid #DDD;
  width: 76%;
  height: 100%;
  padding: 71px 63px 27px 55px;
  background-color: #ffffff;
}

.profile-title {
  display: inline-block;
  margin-bottom: 30px;
}

tr {
  display: inline-block;
  margin-bottom: 30px;
}

th {
  width: 290px;
  text-align: left;
  vertical-align: top;
}

td {
  width: 700px;
  vertical-align: top;
}

.profile-fontred {
  color: #e42e1e;
}

@media screen and (max-width:768px) {
  #profile {
    margin: 64px auto 0 auto;
    border: 1px solid #DDD;
    width: 90%;
    height: 100%;
    padding: 10px;
    background-color: #ffffff;
  }

  .profile-title {
    display: inline-block;
    margin-bottom: 15px;
  }

  tr,
  th,
  td {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  td {
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
  }
}