/* すべての要素に対して、マージンとパディングをリセット */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* リストのスタイルをリセット */
ol, ul {
  list-style: none;
}

/* リンクの下線を削除 */
a {
  color: black;
  text-decoration: none;
}

/* ボタンやフォーム要素のスタイルをリセット */
button,
input,
textarea,
select {
  background: none;
  border: none;
  font-family: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

html,
body {
  overflow-x: hidden;
}

/* デフォルトのフォントとサイズをリセット */
body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  width: 100%;
  max-width: 100%;
}

